
.title {
  background: rgb(121, 242, 182);
}

.box{
  transition: linear all 0.5s;
  width: 860px;
  position: relative;
  margin: auto;
  padding: 20px 10px;
  left: 0;
  right: 0;
  background-color: beige;
  min-height: 100vh;
  border-radius: 2px;
}

h1,h2,h3,h4,h5{
  color: #f5c;
}

.box>ul{
  list-style: none;
}

.box>table{
  margin-left: 25px;
} 